{% extends "base.html" %}

{% block content %}


<!-- the reason why this works lies in the setting.py file where the configuration of Templates are defined under context processors. -->

{% if not request.user.is_authenticated %}


<div style="margin-top: 30px;">
    <form method="POST" action="/login/">{% csrf_token %}

        <!-- {% if error %}
        <p style="color: red;">
            {{error}}
        </p>
        {% endif %}

        <div>
            <input type="text" name="username" placeholder="username">
        </div>

        <div>
            <input type="text" name="password" placeholder="password">
        </div> -->

        {{form.as_p}}

        <button type="submit"> Login </button>
    </form>

    <p>Need an Account ? Please<a href="/register">Register</a></p>
</div>

{% else %}

<p>You are already authenticated . Would you like to <a href="/logout/">logout</a>? </p>

{% endif %}

{% endblock %}