{% extends "base.html" %}

{% block content %}

<!-- our django form is here  -->
<!-- {{form.as_p}} -->

{% if not isCreated %}
<div style="margin-top: 10px;"></div>
<div>
    Please sir Create your form : 
    <form action="." method="post">
        {% csrf_token %}
        <!-- <div>
            <input type="text" name="title" placeholder="Title">
            
            <div style="margin-top: 10px;">
                <textarea name="content" placeholder="Content" cols="30" rows="10"></textarea>
            </div>
        </div> -->

        {{form.as_p}}
        <button style="margin-top: 10px;"  type="submit">
            Create Article
        </button>
    </form>
</div>
{% else %}

<p>Your Newly Created Article Sir  : </p>
<a href='/articles/{{object.id}}/'>{{object.title}} - {{object.content}} </a>

{% endif %}

{% endblock content %}